<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Button Toggle - Mostrar Cuando Pantalla esta Pequeña  -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <li class="nav-item dropdown no-arrow d-sm-none">
    </li>

    <!-- Nav Item - User Informacion -->
    <li class="nav-item dropdown no-arrow">
      <!-- Button para el Dropdown -->
      <a class="nav-link dropdown-toggle" href="/" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small text-uppercase">
          <%= user.nombreRol %>
        </span>

        <img class="img-profile rounded-circle" src="<%=ruta%>img/undraw_profile.svg">
      </a>

      <!-- Dropdown Menu Hijos -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

        <!-- Dropdown Menu - Profile -->
        <a class="dropdown-item" href="#">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Perfil
        </a>

        <!-- Dropdown Menu - Configuracion -->
        <a class="dropdown-item" href="#">
          <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          Configuración
        </a>

        <!-- Dropdown Menu - Cerrar Sesion -->
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Cerrar Sesion
        </a>
      </div>
    </li>
  </ul>
</nav>
<!-- End of Topbar -->