<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">
            <span class="h5">Agregar <%= title %></span>
        </h6>
    </div>
    <div class="card-body">
        <div class="card bg-transparent border card-body">

            <form class="row g-3 needs-validation" action="/categorias/guardar" method="POST" novalidate>
                <div class="col-md-12">
                    <label for="nombre" class="form-label">Nombre <span class="text-warning">(*)</span></label>
                    <input type="text" class="form-control" id="nombre" value="" name="nombre"
                        placeholder="Ingrese un nombre" required>
                    <div class="valid-feedback">
                        El campo no puede estar vacío.
                    </div>
                </div>
                <div class="card-footer bg-transparent border-r text-center">
                    <a href="/categorias/listar" type="button" class="btn btn-danger mr-3">Cancelar</a>
                    <button type="submit" class="btn btn-primary" onclick="guardar()">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Script Para la Validacion -->
<!-- <script src="<%#=ruta %>js/validacion.js"></script> -->
<script>
    // Modifica la función guardar para que sea asíncrona
    function guardar() {
        // Mostrar SweetAlert2
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Guardado Correctamente',
            text: 'Datos Correctos!',
            showConfirmButton: false,
            timer: 1500
        }).then(() => {
            // Redirigir después de mostrar la alerta
            window.location = '/categorias/listar';
        });

    }
</script>